body {
  width: 300px;
  /* margin: provides space AROUND an element*/
  /* with one value: [all sides]
  /* with two values: [top/bottom, left/right] */
  /* with three values: [top, left/right, bottom] */
  /* with four values: [top, right, bottom, left (clockwise)] */
  /* valid values: <length> (can be negative); <percentange%> (of the containing block); or 'auto' */
  margin: 0px;
  background-color: #ff9500;
  /* padding: provides spaces WITHIN an element */
  padding: 0 20px 20px 20px;
  border: 5px solid black;
}
.clip-svg {
  clip-path: url(#myClip);
  width: 50%;

}
.clip-svg:hover {
  transform: scale(1.2);
  transition: background 0.5s, transform 0.3s ease-out, fill 0.5s;
}
