/*.color-wheel {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-repeat:no-repeat;
background-size:cover;
background-position:top;
}
*/


.color-wheel {
  position: relative;
  top: 0;
  left: 0;
}
.happy {
  position: relative;
  top: 0;
  left: 0;
  border: 1px red solid;
}
.surprise {
  position: absolute;
  top: 30px;
  left: 30px;
  border: 1px green solid;
}
.angry {
  position: absolute;
  top: 30px;
  left: 30px;
  border: 1px green solid;
}

/*
#happy {
clip-path: path("m1.22,353.27L1,1.73l304.56,175.81c-15.69,27.21-54.19,85.56-128.07,128.39-74.49,43.18-144.86,47.35-176.27,47.34Z");
}

#surprise {
clip-path: path("m306.52,352.79L2,177.14,306.58,1.37c15.71,27.19,46.98,89.72,47.11,175.12.13,86.1-31.46,149.12-47.18,176.31Z");
}

#angry {
clip-path: path("m305.37,176.77L1,352.66,1.06,1c31.4-.01,101.19,4.17,175.21,46.76,74.63,42.93,113.42,101.8,129.1,129.01Z");
}
*/
#happy:hover {
	clip-path: path('m306.52,352.79L2,177.14,306.58,1.37c15.71,27.19,46.98,89.72,47.11,175.12.13,86.1-31.46,149.12-47.18,176.31Z');
	fill: blueviolet; 
	stroke: #231f20; stroke-miterlimit: 10; stroke-width: 2px;
	transform: scale(1.5);
}

#surprise:hover {
	clip-path: path("m306.52,352.79L2,177.14,306.58,1.37c15.71,27.19,46.98,89.72,47.11,175.12.13,86.1-31.46,149.12-47.18,176.31Z"); /* style="fill: none; stroke: #231f20; stroke-miterlimit: 10; stroke-width: 2px;"/>;*/
	transform: scale(1.5);
}

#angry:hover {
	clip-path: path("m305.37,176.77L1,352.66,1.06,1c31.4-.01,101.19,4.17,175.21,46.76,74.63,42.93,113.42,101.8,129.1,129.01Z"); /*style="fill: none; stroke: #231f20; stroke-miterlimit: 10; stroke-width: 2px;"/>*/
	transform: scale(1.5);
}
